.profile {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .profile {
        max-width: 700px;
    }
}

@media (max-width: 600px) {
    .profile {
        max-width: 560px;
    }
}

@media (max-width: 500px) {
    .profile {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 320px;
        margin: 0;
    }
}